.canvas { color: white; background-color: rgb(0 0 32); }

body, button, label, input, textarea { color: white; background-color: black; }

label.file { color: white; background-color: black; }

label.file { border-top-color: rgb(95 95 95);
             border-left-color: rgb(95 95 95);
             border-right-color: rgb(0 0 0);
             border-bottom-color: rgb(0 0 0); }
