/* -*- coding: utf-8-unix; mode: css-ts; -*- */

:root { color-scheme: light dark; }
body {
    margin: 0;
    padding: 4rem;
    min-height: 90vh;
    color: light-dark(#000000, #ffffff);
    background-color: light-dark(#dfdfdf, #000018);
}

pre {
    padding: 1rem;
    border-radius: 1rem;
    color: light-dark(#000000, #ffffff);
    background-color: light-dark(#dfbfdf, #180028);
}

button, input, select, textarea {
    color: light-dark(#000000, #ffffff);
    background-color: light-dark(#dfbfdf, #180028);
}

.hidden { display: none }

/* Local Variables: */
/* indent-tabs-mode: nil */
/* css-indent-offset: 2 */
/* End: */
