@import url("../base.css");

td {
    padding: 6px; vertical-align: top;
    text-wrap-style: pretty;
}
th {
    padding: 6px; vertical-align: top;
    text-align: center; text-wrap: nowrap;
}
/* Gemini */
tr > td:first-child {
    padding: 6px; vertical-align: top;
    text-align: center; text-wrap: nowrap;
}
